body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #dcdcdcdc;
}

#project {
    background-color: #dcdcdcdc;
}

.myproject {
    padding-bottom: 15px;
}

section {
    padding-top: 5rem;
}

#contact {
    padding-bottom: 100px;
}


